<section class="main">
  <form class="login" {{action login on="submit"}}>
    <h1>{{view.titleHtmlSafe}}</h1>
    <p class="float">
      <label for="identification"><i class="fa fa-user"></i>用户名/邮箱：</label>
      {{input id='identification' type='text' value=view.identification placeholder='请输入您的用户名/邮箱...' }}
    </p>
    <p class="float">
      <label for="password"><i class="fa fa-key"></i>密码：</label>
      {{input id='password' type='password' value=view.password placeholder='请输入您的密码...' class="showpassword" }}
    <p class="clearfix"></p>
    <p class="clearfix">
      <button type="submit" class="pull-right">登录</button>
    </p>
    <p>{{view.copyrightHtmlSafe}}</p>
  </form>
</section>
<div class="browsers">
  <ul>
    {{#each view.supportedBrowers}}
    <li>
      <a target="_blank" {{bind-attr href=url}}>
        <img {{bind-attr src=icon}}/>
        <div>{{name}}</div>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
