{{view Menglifang.Widgets.BsPaginationStart url=view.url current=view.current}}
{{view Menglifang.Widgets.BsPaginationPrev url=view.url current=view.current}}
{{#each view.pages}}
  <li {{bind-attr class="disabled:active"}}>
    {{#if disabled}}
      <a href="javascript:void(0);">{{text}} <span class="sr-only">(current)</span></a>
    {{else}}
      <a {{bind-attr href=href}}>{{text}}</a>
    {{/if}}
  </li>
{{/each}}
{{view Menglifang.Widgets.BsPaginationNext url=view.url current=view.current total=view.total}}
{{view Menglifang.Widgets.BsPaginationEnd url=view.url current=view.current total=view.total}}
