<form class="form-horizontal" role="form">
  <h2>{{formLegend}}</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="username">用户名</label>
    <div class="col-sm-9">
      {{#if model.isNew}}
        {{input value=username class="form-control" type="text" id="username" placeholder="必填且唯一"}}
      {{else}}
        <p class="form-control-static">{{username}}</p>
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="realname">真实姓名</label>
    <div class="col-sm-9">
      {{input value=realname class="form-control" type="text" id="realname" placeholder="可选"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="email">邮箱</label>
    <div class="col-sm-9">
      {{input value=email class="form-control" type="email" id="email" placeholder="必填且唯一"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="password">密码</label>
    <div class="col-sm-9">
      {{input value=password class="form-control" type="password" id="password" placeholder="不少于8位"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="roles">角色</label>
    <div class="col-sm-9">
      {{view Ember.Select content=availableRoles value=roles optionLabelPath="content.label" optionValuePath="content.value" prompt="-> 请选择用户角色 <-"}}
    </div>
  </div>

  <div class="form-group buttons">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <button class="btn btn-primary" {{action 'save'}}>
        <i class="fa fa-save"></i> 保存
      </button>
      {{#if model.isNew}}
        <button class="btn btn-link" {{action 'cancel'}}>
          取消
        </button>
      {{else}}
        <button class="btn btn-danger" {{action 'remove'}}>
          <i class="fa fa-times"></i> 删除
        </button>
        <button class="btn btn-link" {{action 'revertChanges'}}>
          重置
        </button>
      {{/if}}
    </div>
  </div>
</form>

{{#bs-modal name="removeConfirmation" fade=true footerButtons=removeConfirmationButtons title=removeConfirmationTitle}}
  <p>{{removeConfirmationMessage}}</p>
{{/bs-modal}}
