<form class="form-horizontal" role="form">
  <h2>修改密码</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="old-password">旧密码</label>
    <div class="col-sm-9">
      {{input value=oldPassword class="form-control" type="password" id="old-password" placeholder="请输入您当前的密码..."}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="new-password">新密码</label>
    <div class="col-sm-9">
      {{input value=newPassword class="form-control" type="password" id="new-password" placeholder="请输入您的新密码..."}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="password-confirmation">密码确认</label>
    <div class="col-sm-9">
      {{input value=passwordConfirmation class="form-control" type="password" id="password-confirmation" placeholder="请再次输入您的新密码..."}}
    </div>
  </div>

  <div class="form-group buttons">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <button class="btn btn-primary" {{action 'save'}}>
        <i class="fa fa-save"></i> 保存
      </button>
      <button class="btn btn-link" {{action 'revertChanges'}}>
        重置
      </button>
    </div>
  </div>
</form>
