<div class="menu-items">
  {{#each view.menus}}
    <ul {{bind-attr id=text class="active"}}>
      {{#each items}}
        <li {{bind-attr title=text}} data-placement="right" data-toggle="tooltip">
          {{#link-to route}}
            <div>
              <div class="title pull-left">{{text}}</div>
              {{#if iconUrl}}
                <img class="pull-right" {{bind-attr src=iconUrl}} />
              {{else}}
                <i {{bind-attr class="icon :pull-right"}} class="pull-right"></i>
              {{/if}}
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
<ul class="menu-triggers">
  {{#each view.menus}}
    <li {{bind-attr class="active" title=text}} data-placement="right" data-toggle="tooltip">
      <a href="#{{unbound text}}" data-toggle="tab" {{action 'triggerMenu' this}}>
        {{#if iconUrl}}
          <img class="menu-trigger" {{bind-attr src=iconUrl}} />
        {{else}}
          <i {{bind-attr class=icon}} class="pull-right"></i>
        {{/if}}
        <div class="title">{{text}}</div>
      </a>
    </li>
  {{/each}}
</ul>
