<div class="demo">
  <h2>在线演示</h2>

  <h3>示例</h3>
  <div class="show pagination">
    <h4>设置大小</h4>
    <div>
      {{bs-pagination sizing='large' current=3 start=1 total=10}}
    </div>
    <div>
      {{bs-pagination current=3 start=1 total=10}}
    </div>
    <div>
      {{bs-pagination sizing='small' current=3 start=1 total=10}}
    </div>

    <h4>设置分页窗口大小</h4>
    <div>
      {{bs-pagination current=3 start=1 size=7 total=10}}
    </div>

    <h4>设置开始页码大小</h4>
    <div>
      {{bs-pagination current=3 start=2 size=7 total=10}}
    </div>

    <h4>自动锁定回退和前进按钮</h4>
    <div>
      {{bs-pagination current=1 start=1 total=1}}
    </div>
    <div>
      {{bs-pagination current=1 start=1 total=10}}
    </div>
    <div>
      {{bs-pagination current=10 start=4 total=10}}
    </div>
  </div>

  <h3>示例 @ jsbin.com [TODO]</h3>
  <script src="http://static.jsbin.com/js/embed.js"></script>
</div>
